<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head :: head">

</head>

<body>
    <header th:replace="fragmentos/header :: header"></header>
    
        
        <body>
            <div class="card border-primary mb-3">
                <div class="card-header">Editoriales</div>
                <div class="card-body text-primary">
                  <h5 class="card-title">Lista de Editoriales</h5>
                  <table class="table table-success table-striped">

                    <thead class="table-hover">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Condicion</th>
                            <th scope="col">Editar</h>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
    
                        <tr th:each="editorial : ${editoriales}">
                            <td th:text="${editorial.id}"></td>
                            <td th:text="${editorial.nombre}"></td>
                            <td>
                                <span th:if="${editorial.alta == true}">
                                    <a th:href="@{/cambiarAlta/} + ${editorial.id} "><button type="button"
                                            class="btn btn-outline-danger btn-sm">Dar de baja</button></a>
                                </span>
                                <span th:if="${editorial.alta == false}">
                                    <a th:href="@{/cambiarAlta/} + ${editorial.id} "><button type="button"
                                            class="btn btn-outline-success btn-sm">Dar de alta</button></a>
                                </span>
                                </a>
                            </td>
                            <td><button type="button" class="btn btn-success btn-sm">Editar</button>
                            </td>
                            <td><button type="button" class="btn btn-danger btn-sm">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
                </div>
              </div>
           

            <div>
                <a th:href="@{/crearEditorial}"> <button type="button" class="btn-success btn-sm">Ingresar Nueva
                        Editorial</button></a>
            </div>



        </body>
    
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>