<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragmentos/head :: head"></head>

    <body>
        <header th:replace="fragmentos/header :: header"></header>

        <main>
            <div class="container">
                <div class="row mt-5">
                    <div class="col-6">
                        <form th:action="@{/agregar/autor/__${action}__}" th:object="${autor}" method="post" autocomplete="off" >
                            <input type="hidden" th:field="*{id}">

                            <div class="mb-3">
                                
                                <label for="ww" class="form-label" >Nombre Del Autor</label>
                                <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Jorge Luis Borges">
                                <br>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" name="alta" th:field="*{alta}">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Dar de Alta</label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-dark">Registrar Autor</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>