<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head :: head">

</head>

<body>
    <header th:replace="fragmentos/header :: header"></header>

    <div class="section">
        <h1>Bienvenido Libreria EGG🥚</h1>


        <div class="botones">
            <a th:href="@{/agregar/libro}"> <button class="btn btn-success" type="button" style="width: 230px" >Agregar Libro</button></a>
            <a th:href="@{/crearAutor}"> <button class="btn btn-success" type="button" style="width: 230px" >Agregar Autor</button></a>
            <a th:href="@{/crearEditorial}"> <button class="btn btn-success" type="button" style="width: 230px" >Agregar Editorial</button></a>
        </div>

        

        <div class="video-container">
            <div class="color-overlay">
                <video style="width: 370%" id="background" autoplay loop muted>
                    <source src="../img/fondolibro.mp4" type="video/mp4">

                </video>
            </div>
        </div>
    </div>

    <section class="container"></section>

    <footer th:replace="fragmentos/footer"></footer>
    



    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>